/* react app font style */
.custom_font {
  font-family: Times New Roman;
}


/* useEffect catch block err */
.error-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  padding-top: 20px;
}
  
.custom-alert-width {
  width: 300px;
}

/* header component */
.custom_header {
  background-color: #1F3B47;
}

/* section component */
.custom_main {
  padding-top: 1%;
}

/* footer component */
.custom_footer {
  padding-top: 1%;
  background-color: #F0F8FF; 
}