/* React app font */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display&family=Roboto+Flex:opsz@8..144&display=swap');

* {
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Flex', sans-serif;
  font-family: 'PT Serif', serif;
  font-size:14px
}

